* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
}

header {
  background-color: #333;
  color: #fff;
  padding: 50px;
  text-align: center;
  font-size: x-large;
}

header img {
  float: left;
  margin-right: 10px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

.box {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 10px;
  overflow: hidden;
  position: relative;
  width: 500px;
  height: 500px;
}

.aboutMe p{
  justify-content: left;
  vertical-align: middle;
  position: absolute;
  margin-top: 200px;
  margin-left: 600px;
}

.aboutMe{
    
}

.projects{
	position: absolute;
	margin-top: 600px;
	margin-bottom: 200px;
}

.box-top {
  height: 70%;
  overflow: hidden;
  position: relative;
}

.box-top img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
  transition: transform 0.2s ease-in-out;
}

.box:hover .box-top img {
  transform: scale(1.2);
}

.box-bottom {
  background-color: #333;
  color: #fff;
  padding: 20px;
  position: relative;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.box-title {
  margin-top: 30px;
  text-align: center;
  font-size: x-large;
}

.box-hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.box:hover .box-hover {
  display: flex;
  opacity: 1;
}

.box:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
  z-index: 1;
}

.box-text {
  margin-top: 10px;
  text-align: center;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

.box:hover .box-text {
  opacity: 0;
}

.box-hover-text {
  margin-top: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.box:hover .box-hover-text {
  opacity: 1;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-top: 100px;
}

footer a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
